<%inherit file="/giri_base.mako"/>\

<%def name="mako_tag_header_links()">
</%def>

<%def name="mako_tag_col_1()">
</%def>

<%def name="mako_tag_col_2()">
<div class="giri_box_with_margin_and_background">
<div class="giri_box_headline">
job part detail
</div>
<div class="giri_font_small">
<pre>
${c.data}
</pre>
</div>
</div>
</%def>

<%def name="mako_tag_script()">
</%def>

