/* Shared style applied to all pages */

html {
	overflow: auto;
	border: 0px;
	height: 100%;
}

body {
	margin-left: 14px;
	font-family: Tahoma;
	font-size: 12px;
	color: #000000;
	height: 94%;
}

h1 {
	text-align: left;
	font-size: 16pt;
	font-weight: normal;
	color: #BF193F;
	margin-bottom:20px;
}

h2 {
	font-size: 14pt;
	font-weight: normal;
	margin-top: 30px;
	margin-bottom: 5px;
}

h4 {
	color: #787878;
}

a {
	font-size: 12px;
	color: #550055;
	font-weight: normal;
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

p {
	padding-left: 14px;
}

ul {
	margin-top: 3px;
	margin-bottom: 3px;
	}

.blob {
	border-bottom: solid 1px #AAAAAA;
}
	
.bannerarea {
	float: left;
	border: solid 1px #AAAAAA;
	height: 100%;
	background-color: #FFFFFF;
}

.textarea {
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
}
	
.highlight {
	background-color: #CCCCCC;
	padding: 3px;
	margin: 15px;
	border: solid 1px #AAAAAA;
}

.error {
	background-color: #FF0000;
	padding: 3px;
	margin: 15px;
	border: solid 1px #AAAAAA;
}

.buttons {
	padding: 3px;
	margin: 15px;
}
