body {
  background-color: #888;
  margin: 25px;
}

div.content {
  margin: 0;
  margin-bottom: 10px;
  background-color: #d3e0ea;
  border: 5px solid #333;
  padding: 5px 25px 25px 25px;
}

h1.main {
  width: 100%;
}

p.footer{
  width: 100%;
  padding-top: 8px;
  border-top: 1px solid #000;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


table.stats
{text-align: center;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
font-weight: normal;
color: #fff;
width: 280px;
background-color: #666;
border: 0px;
border-collapse: collapse;
border-spacing: 0px;}

table.stats td
{background-color: #CCC;
color: #000;
padding: 4px;
text-align: left;
border: 1px #fff solid;}

table.stats td.higlight_normal
{
padding: 4px;
text-align: right;
border-bottom: 2px #fff solid;}

table.stats td.higlight_fine
{background-color: #006633;
color: #fff;
padding: 4px;
text-align: right;
border-bottom: 2px #fff solid;}

table.stats td.higlight_warning
{background-color: #FF9933;
color: #fff;
padding: 4px;
text-align: right;
border-bottom: 2px #fff solid;}

table.stats td.higlight_error
{background-color: #880000;
color: #fff;
padding: 4px;
text-align: right;
border-bottom: 2px #fff solid;}

table.stats td.header
{background-color: #666;
color: #fff;
padding: 4px;
text-align: left;
border-bottom: 2px #fff solid;
font-weight: bold;}

table.stats td.header_sub
{background-color: #666;
color: #fff;
padding: 4px;
text-align: left;
border-bottom: 2px #fff solid;}
  