/*
 * Color scheme 
 * http://colorschemedesigner.com/#0x21Tw0w0w0w0
 */
.primary-1 { background-color: #FF7A00 }
.primary-2 { background-color: #BF7530 }
.primary-3 { background-color: #A65000 }
.primary-4 { background-color: #FF9C40 }
.primary-5 { background-color: #FFB673 }

.complement-1 { background-color: #03899C }
.complement-2 { background-color: #1F6B75 }
.complement-3 { background-color: #015965 }
.complement-4 { background-color: #36BBCE }
.complement-5 { background-color: #5FC0CE }

.complement-6 {  background-color: #B7E7EE}

/*
 * Styles mics
 */
.giri_header {
margin:6px;
font-size:180%;
color:#03899C;
}

.giri_header_small {
padding-top:15px;
font-size:110%;
color:#03899C;
vertical-align: bottom;
}

.giri_seperator {
border-top:1px solid; 
border-color: #03899C;
margin:5px;
}

.giri_scroll {
overflow:auto;
}
/*
 * Styles for fonts
 */
.giri_font_huge {
font-size:140%;
}

.giri_font_big {
font-size:120%;
}

.giri_font_small {
font-size:80%;
}

.giri_font_tiny {
font-size:60%;
}

.giri_font_bold {
font-weight:bold;
}

.giri_font_pre {
font-size:80%;
white-space: pre;
}

/*
 * Styles for floating
 */
.giri_float_left {
float: left;
}

.giri_float_right {
float: right;
}

.giri_float_end {
clear:both;
}


/*
 * Styles for boxes
 */
.giri_box_with_margin {
height:100%;
margin:3px;
}

.giri_box_with_margin_and_background {
margin:3px;
background-color:#FFFFFF; 
border:3px solid; 
border-color: #03899C;
}

.giri_box_headline {
border:0px;
padding:3px;
background-color:#03899C; 
color:#FFFFFF; 
}


/*
 * Styles for tables
 */
.giri_table ul {
margin:0px;
}

.giri_table ul li {
list-style-type: none;
padding: 5px 0px 3px 0px;
background-color:#ffffff; 
cursor: pointer;
}

.giri_table ul li:nth-child(odd) {
background-color:#ffffff; 
}
.giri_table ul li:nth-child(odd):hover {
background-color:#5FC0CE; 
}

.giri_table ul li:nth-child(even) {
background-color:#B7E7EE; 
}

.giri_table ul li:nth-child(even):hover {
background-color:#5FC0CE; 
}

.giri_table_no_select ul {
margin:0px;
}

.giri_table_no_select ul li {
list-style-type: none;
padding: 5px 0px 3px 0px;
background-color:#ffffff; 
}

.giri_table_no_select ul li:nth-child(odd) {
background-color:#ffffff; 
}

.giri_table_no_select ul li:nth-child(even) {
background-color:#B7E7EE; 
}

.giri_table_row_text {
}


.giri_box_with_margin_with_scroll {
overflow:auto;
}

/*
 * Styles for buttons
 */
 .giri_button_box {
text-align: center;
margin: 10px;
}

.giri_button_box_small {
margin-left:3px;
margin-right:3px;
margin-top:1px;
margin-bottom:1px;
text-align: center;
}


.giri_button {
color:#03899C;
padding: 2px;
background-color:#FFFFFF; 
border:1px solid; 
border-color: #03899C;
font-weight:bold;
width: 170px;
text-align: center; 
cursor: pointer;
font-size:80%;
}

.giri_button:hover {
color:#FFFFFF; 
background-color:#03899C; 
}

.giri_button[disabled] {
color:#03899C; 
background-color:#FFFFFF; 
opacity: 0.5;
}

.giri_button:hover[disabled] {
color:#03899C; 
background-color:#FFFFFF; 
opacity: 0.5;
}


/*
 * Styles for form
 */
.giri_form_field {
margin-left:5px;
margin-right:5px;
margin-top:5px;
}

.giri_form_field_label {
font-size:80%;
font-weight:bold;
}

.giri_form_field_input_box {
}

.giri_form_field_input_box input,  .giri_form_field_input_box textarea{
width:95%;
padding:4px;
border: solid 1px #03899C;
background-color: #F0F0F0;
font-size:90%;
font-weight:normal;
color:#03899C;
}

.giri_form_field_input_box select{
width:95%;
padding:3px;
border: solid 1px #03899C;
background-color: #F0F0F0;
font-size:90%;
font-weight:normal;
color:#03899C;
}


.giri_form_field_message {
font-size:80%;
text-align: center; 
}

.giri_form_field_message_error {
font-size:80%;
color:#B40404;
text-align: center; 
}

.giri_button_box {
text-align: center;
margin: 10px;
}

.giri_button_box_small {
margin-left:3px;
margin-right:3px;
margin-top:1px;
margin-bottom:1px;
text-align: center;
}



/*
 * Notify box styles
 */
.giri_box_sum {
margin:2px;
border: solid 1px #03899C;
background-color: #FFFFFF;
font-size:80%;
text-align: center;
width:55px;
}


.giri_button_box_message {
border: solid 1px #03899C;
background-color: #FFFFFF;
margin:2px;
width:200px;
text-align: center;
margin-left:auto;
margin-right:auto;
}


.giri_box_sum_normal {
margin:2px;
width:55px;
font-size:80%;
text-align: center;
}

.giri_box_sum_info {
background-color: #FFFFFF;
}

.giri_box_sum_warning {
background-color: #FACC2E;
}

.giri_box_sum_error {
background-color: #FA5858;
}

.giri_box_sum_ok {
background-color: #66CC66;
}

.giri_box_text {
margin:3px;
}