body {
	font-family: Verdana, Helvetica, sans-serif;
	color: #888888;
}


.class_builders {
	frame-width : 2px;
}

#devbotnet_id_header {
	margin: 10px;
	font-size: 200%;
	border-bottom: 5px;
	border-bottom-style: solid;
}

#devbotnet_id_body {
	margin : 10px;
}

#devbotnet_id_footer {
	margin: 10px;
}


.class_phases_view {
	border-bottom: 5px;
	border-bottom-style: solid;
}

.class_builder_view {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px;
	border-bottom-style: solid;
}


.class_row {
	display: block;
}

.class_col_first {
	float: left;
	width : 100px;
}

.class_col {
	float: left;
	width : 160px;
	display: inline;
}

.class_col_last {
	clear:both;
}

.class_builder_view_cols {
}

#devbotnet_id_body .waiting {
	color: #E0E0E0;
}
#devbotnet_id_body .na {
	color: #E0E0E0;
	font-size: 60%
}

#devbotnet_id_body .waiting_to_proceed {
	color: #123456;
}

#devbotnet_id_body .error {
	color: #880000;
}

#devbotnet_id_body .done {
	color: #006600;
}

#devbotnet_id_body .running {
	color: #101010;
}


.class_note {
	font-size: 80%;		
}

.class_time_info {
	font-size: 50%;		
	
}
.class_info {
	margin-top: 5px;
	margin-bottom: 5px;
}	

.class_name {
	font-size: 70%;		
}

.class_col_first {
	font-size: 60%;		
}

.devbotnet_button {
	font-size: 12px;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-align: center;
	width: 70px;
	float: left;
	margin-right: 10px;
	background-color: #FFFFFF;
	color: #888888;
	
}
.devbotnet_button:hover {
	background-color: #F0F0F0 ;
}

.class_control {
	margin-bottom: 10px;
}

.class_float_clear {
	clear:both;
}

.devbotnet_hidden {
	display: none;
}

.class_control {
	height: 20px;
	background-color: #F8F8F8;
}

.class_info_view {
	background-color: #000000;
	color: #FFFFFF;
	border: 3px;
	border-style: solid;
	border-color:  	#B8B8B8 ;
	padding: 10px;
	font-size: 70%;
}