<introContent>
      <page alt-style="css/root_swt.properties" style="css/root.css" id="overview" style-id="page">
         <title style-id="intro-header">Welcome to Eclipse Platform</title>
			Hej mor
      </page>
</introContent>
      

