<div class="d-flex justify-content-center align-items-center h-75 flex-column">

  <img src="assets/pictures/splash.png" height="300" width="400" *ngIf="!isSessionOpen">

  <form (ngSubmit)="onFormSubmit()" style="text-align: center;" *ngIf="isSessionOpen">
    <dx-form id="loginForm" [formData]="loginForm" validationGroup="loginValGroup">
      <dxi-item itemType="group" caption="{{ formatMessage('login_group_caption', '') }}">

        <dxi-item [label]="{ text: formatMessage('login_username', '') }" dataField="username"
          [editorOptions]="{ width: '200px'}" [isRequired]="true">
        </dxi-item>

        <dxi-item [label]="{ text: formatMessage('login_password', '') }" dataField="password"
          [editorOptions]="{ mode: 'password', width: '200px'}" [isRequired]="true">
        </dxi-item>
      </dxi-item>
    </dx-form>

    <dx-button class="login-buttons" [text]="formatMessage('login_btn', '')" validationGroup="loginValGroup"
      [useSubmitBehavior]="true" [stylingMode]="'outlined'" [type]="'default'">
    </dx-button>
  </form>
</div>
