body {font-family:arial; font-size:15px; line-height:18px;}

img {padding-top: 2px; padding-right: 5px;}

input {margin-bottom: 5px; margin-right: 5px;}

a {color:#750002; line-height: 32px; padding-right: 15px; text-decoration: none;}

a[href*="MSR.asp"] {
line-height: 100%;
padding-right: 0px;
}

td[colspan="3"]
{
padding-bottom: 14px;
border-bottom : 1px solid #AAAAAA;
}

td[colspan="4"]
{
line-height: 40px;
}

textarea { width: 290px; font-size: 15px;}

input[class="inputText"]
{
font-size: 15px;
}